<% items.each do |item| %>
        <div class="item-listing">
            <%= item.name %>
            <br/>
            <%= link_to (image_tag item.thumbnail, class: "thumbnail", alt: "#{item.name} preview"), shop_item_path(item.shop_id, item.id) %>
        </div>
<% end %>