<div class="max-width-md margin-auto">
    <h1>Add an Item
        <% if @shop %>
            <%= " to #{@shop.name}" %>
        <% end %>
    </h1>

    <%= render 'form', item: @item, shop: @shop %>

</div>