@import "bootstrap";

// Custom CSS
@import "actiontext";
@import "forms";
@import "shops";
@import "items";
@import "buttons";
@import "messages";

.max-width-md {
    max-width: 32rem;
}

.margin-auto {
    margin: auto;
}

.full-width {
    width: 100%;
}

.align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.inline_block {
    display: inline-block;
}
