@import "bootstrap";

// Custom CSS
@import "actiontext";
@import "forms";
@import "shops";
@import "items";
@import "buttons";
@import "messages";
  
body {
    color: #777777;
    text-rendering: optimizeLegibility;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

a:hover {
    text-decoration: none;
}

form {
    max-width: 32rem;
}

.margin-auto {
    margin: auto;
}

.full-width {
    width: 100%;
}

.align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.inline_block {
    display: inline-block;
}

.red {
    color: red;
}

#navbarNav li.dropdown.show  ul li a {
    padding-left: 1rem;
}

// .bg-green {
//     background-color: #00A86B;
// }
