// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
  
.thumbnail {
    height: 250px;
    width: 250px;
}

.sq-300 {
    height: 300px;
    width: 300px;
}

.card {
    margin-right: 20px;
}

.card > :last-child { margin-right: 0 !important; }

.card-body {
    max-width: 250px;
}

.item-listing a:hover {
    opacity: 0.7;
}

.price {
    font-weight: bold;
    color: #333;
}

a .card-text {
    color: #333;
}

@media (max-width: 767.98px) {
    .row.item-listing, .search {
        justify-content: center;
    }
}


