// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.thumbnail {
    height: 300px;
    width: 300px;
}

a .thumbnail:hover {
    opacity: 0.6;
}